@{
    ViewData["Title"] = "Chross";
}

<h1>Chross</h1>

<h3>A(nother) cross-platform web browser!</h3>

<p>Chross is currently under development. Please give me a knock to get notified when it is finished.</p>

<p>Thank you for checking in!</p>